/* 회원가입 이용약관 페이지 기본 레이아웃 */
.signup-terms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.04vw;            /* 2rem → 32px → 1.04vw */
}

.signup-terms-page-container {
    height: calc(100vh - 4.17vw);   /* 80px */
    overflow-y: scroll;             /* auto에서 scroll로 변경 */
    padding-top: 1.04vw;            /* 20px */
    padding-bottom: 1.04vw;         /* 20px */
    margin-top: 4.17vw;             /* 80px */
}
/* 커스텀 스크롤바 스타일 */
.signup-terms-page-container::-webkit-scrollbar {
    width: 0.52vw;                  /* 10px - 스크롤바 너비 */
}

/* 화면이 줄어들기 시작하면서 점점 아래로 */
@media (max-width: 1400px) {
    .signup-terms-page-container {
        margin-top: 8vw;
    }
}

@media (max-width: 1200px) {
    .signup-terms-page-container {
        margin-top: 12vw;
    }
}

@media (max-width: 900px) {
    .signup-terms-page-container {
        margin-top: 16vw;
    }
}

@media (max-width: 700px) {
    .signup-terms-page-container {
        margin-top: 20vw;
    }
}

@media (max-width: 500px) {
    .signup-terms-page-container {
        margin-top: 25vw;
    }
}