/* 전체 레이아웃 */
.reset-password-page-container {
    height: calc(100vh - 4.17vw);   /* 80px */
    overflow-y: auto;
    padding-top: 1.04vw;            /* 20px */
    padding-bottom: 1.04vw;         /* 20px */
    margin-top: 5.17vw;             /* 80px */
}

.reset-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.04vw;            /* 2rem → 32px → 1.04vw */
}

.reset-password-header {
    text-align: left;
    margin-bottom: 1.56vw;          /* 3rem → 48px → 1.56vw */
}

.reset-password-title {
    font-size: 1.30vw;              /* 25px */
    font-weight: 800;
    color: #6029b7;
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
    margin-bottom: 2.56vw;          /* 3rem → 48px → 1.56vw */
}

.reset-password-divider-line {
    width: 46.82vw;                 /* 899px */
    height: 0.026vw;                /* 0.5px */
    background-color: #9E9E9E;
}

/* 화면이 줄어들기 시작하면서 점점 아래로 */
@media (max-width: 1400px) {
    .reset-password-page-container {
        margin-top: 8vw;
    }
    .reset-password-divider-line {
        width: 46.8vw;
    }
}

@media (max-width: 1200px) {
    .reset-password-page-container {
        margin-top: 12vw;
    }
    .reset-password-divider-line {
        width: 46.9vw;
    }
}

@media (max-width: 900px) {
    .reset-password-page-container {
        margin-top: 16vw;
    }
}

@media (max-width: 700px) {
    .reset-password-page-container {
        margin-top: 20vw;
    }
}

@media (max-width: 500px) {
    .reset-password-page-container {
        margin-top: 25vw;
    }
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .reset-password-title {
        font-size: 1.15vw;          /* 22px */
    }

    .reset-password-divider-line {
        width: 51vw;
        margin-right: 29vw;
    }

}

@media (max-width: 480px) {
    .reset-password-title {
        font-size: 1.04vw;          /* 20px */
    }

    .reset-password-divider-line {
        width: 90vw;
    }
}