/* 눈 아이콘 */
.eye-icon {
    position: absolute;
    right: 1.04vw;                  /* 20px */
    top: 45%;
    transform: translateY(-50%);
    width: 1.04vw;                  /* 20px */
    height: 1.04vw;                 /* 20px */
    cursor: pointer;
    object-fit: contain;
}

.eye-icon:hover {
    opacity: 0.7;
}