.screen {
    width: 100vw;                   /* 1920px */
    min-height: 100vh;
    background-color: #fff;
    display: flex;
}

.frame {
    margin-top: 4.17vw;             /* 80px */
    height: calc(100vh - 4.17vw);   /* 네비게이션 바 아래부터 시작 */
    width: 100vw;                   /* 1920px */
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

.content {
    width: 100vw;                   /* 1920px */
    min-height: 70vw;               /* 1344px */
    position: relative;
    background: #fff;
}

.header-row {
    display: flex;
    width: 84.38vw;                 /* 1620px */
    height: 2.81vw;                 /* 54px */
    justify-content: space-between; /* 양 끝 정렬 (왼쪽 위치 정보, 오른쪽 버튼 그룹) */
    align-items: center;
    margin: 3.65vw auto 0 auto;     /* 70px, 네비게이션 바와 header-row 간 높이 조정 */
}

.writing-button {
    background-color: #703dc5;
    border-radius: 0.52vw;          /* 10px */
    height: auto; /* 고정된 height를 해제, padding으로 높이를 조절 */
    width: auto;
    padding: 0.89vw 1.09vw; /* 17px 21px */
    box-sizing: border-box; /* padding이 크기에 포함되도록 명시 */
    cursor: pointer;
    position: relative;
}

.writing-button:hover {
    background-color: #6029b7;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;                     /* 10px */
}

.write-post {
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.94vw;              /* 18px */
    font-weight: 500;
    line-height: 1.09vw;            /* 21px */
    white-space: nowrap;
}

.fi-rr-pencil {
    width: 0.99vw !important;       /* 19px */
    height: 0.99vw !important;      /* 19px */
}

.tools-row {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 84.38vw;                 /* 1620px */
    margin: 1.46vw auto 0 auto;     /* 28px */
}

.count {
    color: #1a1a1a;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.83vw;              /* 16px */
    font-weight: 500;
    white-space: nowrap;
}

.filter-wrapper {
    display: flex;
    gap: 1.88vw;                    /* 36px */
    align-items: center;
}

/* 필터 버튼 공통 스타일 */
.filter-btn {
    background: none;
    border: none;
    outline: none;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-size: 0.83vw;              /* 16px */
    cursor: pointer;
    transition: color 0.2s;
}
.filter-btn:hover { color: #1a1a1a; }

/* 필터 비활성화시 */
.filter { color: #9e9e9e; }

/* 필터 활성화시*/
.filter-active { color: #1a1a1a; }

.overlap {
    width: 84.38vw;                 /* 1620px */
    margin: 1.15vw auto 0 auto;     /* 위쪽 여백 22px */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw 1.5vw;                 /* 38px 29px */
    padding-bottom: calc(2.19vw + env(safe-area-inset-bottom));     /* 42px */
}

.card {
    background: #fff;
    border-radius: 0.83vw;          /* 16px */
    box-sizing: border-box;
    overflow: hidden;
    width: 12.76vw;                 /* 245px */
    height: 19.11vw;                /* 367px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0.13vw 0.42vw rgba(0,0,0,0.03);   /* 0 2px 8px */
}

.share-img {
    width: 12.76vw;                 /* 245px */
    height: 12.76vw;                /* 245px */
    object-fit: cover;
    border-radius: 0.83vw 0.83vw 0 0;   /* 16px 16px 0 0 */
    box-shadow: 0 0.10vw 0 0 rgba(0,0,0,0.018);
}

.share-title {
    color: #1a1a1a;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.94vw;              /* 18px */
    font-weight: 600;
    width: 11.72vw;                 /* 225px */
    height: 0.99vw;                 /* 19px */
    margin: 0.83vw 0.78vw 0 0.78vw; /* 16px 15px 0 15px */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-location {
    color: #1a1a1a;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.83vw;              /* 16px */
    font-weight: 500;
    width: 11.72vw;                 /* 225px */
    height: 1.09vw;                 /* 21px */
    margin: 1.15vw 0.78vw 0 0.78vw; /* 22px 15px 0 15px */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-distance {
    color: #9e9e9e;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.73vw;              /* 14px */
    font-weight: 500;
    width: 11.72vw;                 /* 225px */
    height: 0.89vw;                 /* 17px */
    margin: 0.36vw 0.78vw 0 0.78vw; /* 7px 15px 0 15px */
}