/* 구분선 스타일 */
.signup-location-divider-line {
    width: 46.82vw;                 /* 899px */
    height: 0.026vw;                /* 0.5px */
    background-color: #9E9E9E;
}

.signup-location-bottom-divider-line {
    width: 46.82vw;                 /* 899px */
    height: 0.026vw;                /* 0.5px */
    background-color: #9E9E9E;
    margin-top: 2.08vw;             /* 40px */
    margin-bottom: 7.81vw;          /* 150px */
}

.location-service-bottom-divider-line {
    width: 46.82vw;                 /* 899px */
    height: 0.026vw;                /* 0.5px */
    background-color: #9E9E9E;
    margin-top: 2.08vw;             /* 40px */
    margin-bottom: 2.60vw;          /* 50px */
}

/* 화면이 줄어들기 시작하면서 구분선도 조정 */
@media (max-width: 1400px) {
    .signup-location-divider-line,
    .signup-location-bottom-divider-line,
    .location-service-bottom-divider-line {
        width: 46.8vw;
    }
}

@media (max-width: 1200px) {
    .signup-location-divider-line,
    .signup-location-bottom-divider-line,
    .location-service-bottom-divider-line {
        width: 46.8vw;
    }
}

@media (max-width: 768px) {
    .signup-location-divider-line,
    .signup-location-bottom-divider-line,
    .location-service-bottom-divider-line {
        width: 46.8vw;
    }
}

@media (max-width: 480px) {
    .signup-location-divider-line,
    .signup-location-bottom-divider-line,
    .location-service-bottom-divider-line {
        width: 90vw;
    }
}