/* 개인정보 약관 컨테이너 */
.individual-privacy-terms {
    margin-top: 0.31vw;             /* 6px */
    padding-left: 16.83vw;          /* 300px */
}

/* 개인정보 약관 항목 */
.individual-privacy-agreement {
    display: flex;
    align-items: center;
    margin-bottom: 0.63vw;          /* 12px */
    cursor: pointer;
    font-weight: 500;
    color: #1A1A1A;
    font-size: 0.94vw;              /* 18px */
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
}

/* 개인정보 약관보기 버튼 */
.view-privacy-details-btn {
    background: none;
    border: none;
    color: #6029B7;
    font-size: 0.83vw;              /* 16px */
    cursor: pointer;
    margin-left: 14.43vw;           /* 277px */
    text-decoration: none;
    font-weight: 500;
    font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
}

.view-privacy-details-btn:hover {
    text-decoration: underline;
}